
<article class="day-desc"><h2>--- Day 2: Cube Conundrum ---</h2><p>You're launched high into the atmosphere! The apex of your trajectory just barely reaches the surface of a large island floating in the sky. You gently land in a fluffy pile of leaves. It's quite cold, but you don't see much snow. An Elf runs over to greet you.</p>
<p>The Elf explains that you've arrived at <em>Snow Island</em> and apologizes for the lack of snow. He'll be happy to explain the situation, but it's a bit of a walk, so you have some time. They don't get many visitors up here; <span title="No, the Elf's name is not 'WOPR'. It's Joshua.">would you like to play a game</span> in the meantime?</p>
<p>As you walk, the Elf shows you a small bag and some cubes which are either red, green, or blue. Each time you play this game, he will hide a secret number of cubes of each color in the bag, and your goal is to figure out information about the number of cubes.</p>
<p>To get information, once a bag has been loaded with cubes, the Elf will reach into the bag, grab a handful of random cubes, show them to you, and then put them back in the bag. He'll do this a few times per game.</p>
<p>You play several games and record the information from each game (your puzzle input). Each game is listed with its ID number (like the <code>11</code> in <code>Game 11: ...</code>) followed by a semicolon-separated list of subsets of cubes that were revealed from the bag (like <code>3 red, 5 green, 4 blue</code>).</p>
<p>For example, the record of a few games might look like this:</p>
<pre><code>Game 1: 3 blue, 4 red; 1 red, 2 green, 6 blue; 2 green
Game 2: 1 blue, 2 green; 3 green, 4 blue, 1 red; 1 green, 1 blue
Game 3: 8 green, 6 blue, 20 red; 5 blue, 4 red, 13 green; 5 green, 1 red
Game 4: 1 green, 3 red, 6 blue; 3 green, 6 red; 3 green, 15 blue, 14 red
Game 5: 6 red, 1 blue, 3 green; 2 blue, 1 red, 2 green
</code></pre>
<p>In game 1, three sets of cubes are revealed from the bag (and then put back again). The first set is 3 blue cubes and 4 red cubes; the second set is 1 red cube, 2 green cubes, and 6 blue cubes; the third set is only 2 green cubes.</p>
<p>The Elf would first like to know which games would have been possible if the bag contained <em>only 12 red cubes, 13 green cubes, and 14 blue cubes</em>?</p>
<p>In the example above, games 1, 2, and 5 would have been <em>possible</em> if the bag had been loaded with that configuration. However, game 3 would have been <em>impossible</em> because at one point the Elf showed you 20 red cubes at once; similarly, game 4 would also have been <em>impossible</em> because the Elf showed you 15 blue cubes at once. If you add up the IDs of the games that would have been possible, you get <code><em>8</em></code>.</p>
<p>Determine which games would have been possible if the bag had been loaded with only 12 red cubes, 13 green cubes, and 14 blue cubes. <em>What is the sum of the IDs of those games?</em></p>
</article>

after semicolon reset

In [67]:
import pandas as pd
import re
from typing import List

In [68]:
def possibleOrNot(arr:List[str], r,g,b):
    for i in arr:
        spl = i.strip().split(' ') if i != '' else ['','']
        if spl.count('green'):
            if int(spl[0]) > g:
                return False
        elif spl.count('blue'):
            if int(spl[0]) > b:
                return False
        elif spl.count('red'):
            if int(spl[0]) > r:
                return False
    return True

In [69]:
df = pd.read_table(sep=';', filepath_or_buffer='input.txt', names=range(6), )
df['Game'] = df[0].str.split(':').apply(lambda x: x[0]) # gotta be a better way to do that
df[0] = df[0].str.split(':').apply(lambda x: x[1:][0]) # gotta be a better way to do that
df=df.fillna('')

In [70]:
cols = df.columns[:-1]
copyDF = df.copy(deep=True)
for i in cols:
    copyDF[i] = copyDF[i].apply(lambda x: x.split(','))
    # copyDF[i] = copyDF[i].apply(lambda x: [y for y in x.split(' ')])
copyDF

,0,1,2,3,4,5,Game
0,"[ 4 blue, 4 red, 16 green]","[ 14 green, 5 red]","[ 1 blue, 3 red, 5 green]",[],[],[],Game 1
1,"[ 3 green, 8 red, 1 blue]","[ 5 green, 6 blue]","[ 4 green, 4 blue, 10 red]","[ 2 green, 6 red, 4 blue]","[ 8 red, 11 blue, 4 green]","[ 10 red, 10 blue]",Game 2
2,"[ 7 blue, 2 green]","[ 9 blue, 2 green, 4 red]","[ 5 blue, 2 red]","[ 1 red, 1 green, 10 blue]","[ 1 green, 5 blue, 1 red]",[],Game 3
3,"[ 5 green, 4 blue, 15 red]","[ 1 green, 5 blue, 2 red]","[ 14 red, 3 blue, 2 green]","[ 6 red, 12 green, 1 blue]","[ 1 blue, 6 green, 16 red]",[],Game 4
4,"[ 1 red, 1 blue, 4 green]","[ 3 blue, 2 green, 4 red]","[ 4 blue, 1 red, 2 green]","[ 1 green, 3 red, 4 blue]","[ 1 green, 2 blue]",[],Game 5
...,...,...,...,...,...,...,...
95,"[ 13 blue, 11 red, 13 green]","[ 12 red, 3 blue, 4 green]","[ 14 green, 9 red, 15 blue]",[],[],[],Game 96
96,"[ 9 red, 9 green, 11 blue]","[ 11 green, 8 red, 9 blue]","[ 5 blue, 6 red, 9 green]","[ 3 green, 8 red, 4 blue]",[],[],Game 97
97,"[ 5 blue, 6 red]",[ 8 red],"[ 1 green, 9 blue, 5 red]",[],[],[],Game 98
98,"[ 4 green, 3 red]",[ 3 green],"[ 1 red, 2 green]","[ 2 red, 1 green, 2 blue]","[ 2 red, 4 green]","[ 1 green, 2 blue, 1 red]",Game 99
99,"[ 3 blue, 3 red, 6 green]","[ 7 red, 2 green, 16 blue]","[ 14 green, 9 red, 9 blue]","[ 8 red, 10 green, 9 blue]","[ 6 blue, 11 red]",[],Game 100

In [71]:
slice = copyDF.iloc[:,:-1].apply(lambda s: s.apply(lambda x: possibleOrNot(x,r=12,g=13,b=14)))
slice

        0      1      2     3      4     5
0   False  False   True  True   True  True
1    True   True   True  True   True  True
2    True   True   True  True   True  True
3   False   True  False  True  False  True
4    True   True   True  True   True  True
..    ...    ...    ...   ...    ...   ...
95   True   True  False  True   True  True
96   True   True   True  True   True  True
97   True   True   True  True   True  True
98   True   True   True  True   True  True
99   True  False  False  True   True  True

[100 rows x 6 columns]

In [72]:
checkForTrue = slice.all(axis=1).reset_index()
checkForTrue['index'] = checkForTrue['index']+1
checkForTrue

    index      0
0       1  False
1       2   True
2       3   True
3       4  False
4       5   True
..    ...    ...
95     96  False
96     97   True
97     98   True
98     99   True
99    100  False

[100 rows x 2 columns]

In [73]:
allTrue = checkForTrue.loc[checkForTrue[0]==True]
allTrue['index'].sum()

2156